/* Fonts definition */

@font-face {
    font-family: hemi;
    src: url(../fonts/Hemi.ttf);
}

@font-face {
    font-family: crom;
    src: url(../fonts/Crom.ttf);
}

/* General */

body {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #eeeeee !important;
}

/* The rest */

.btn-tall {
	height: 75px !important;
}

.btn-bottom-margin {
	margin-bottom: 50px !important;
}