<!--
<div class="row">
	<div class="col-sm">
		<h2 id="welcome" class="text-center">
			{{ 'imageListPage.pageHeading' | translate }}
		</h2>
	</div>
</div>

<br />
<br />-->

<div class="row">
	<div class="col-sm">
		<button class="btn btn-primary btn-block btn-tall" ng-click="toSettings()">
			<i class="fas fa-cogs"></i> {{ 'imageListPage.toSettings' | translate }}
		</button>
	</div>
</div>

<br />
<div class="row">
	<div class="col-sm">
		<div class="alert alert-success" ng-if="allUpdated">
			{{ 'imageListPage.allUpdated' | translate }}
		</div>

		<div class="alert alert-warning" ng-if="!allUpdated">
			{{ 'imageListPage.updateInProcess' | translate }}
		</div>
	</div>
</div>

<br/>
<br/>

<div class="row">
	<div class="col-sm">
		<div class="row">
			<div class="col">
				<button class="btn btn-primary btn-block" ng-click="prevPage()">
					<i class="fas fa-arrow-circle-left"></i>
				</button>
			</div>
			<div class="col">
				<div class="page-indicator">
					 {{ paging.currentPageIndex }} / {{ paging.totalPagesCount }}
				</div>
			</div>
			<div class="col">
				<button class="btn btn-primary btn-block" ng-click="nextPage()">
					<i class="fas fa-arrow-circle-right"></i>
				</button>
			</div>
		</div>

		<br />

		<div class="image-rows-container">
			<div class="image-row" ng-repeat="image in images">
				<div class="image-information-container">
					<!-- <b>Aikaleima:</b>--> {{ image.delivery_timestamp * 1000 | formatDateTime }} <!-- <br /> -->
					<!-- <b>Kuvaus:</b> {{ image.description }} -->
				</div>
				<div class="image-container">
					<a href="{{ image.url }}">
						<div class="image-holder" style="background-image: url('{{ image.url }}')">
					
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.image-row-container {
		margin-bottom: 10px;
	}

	.image-row {
		margin-bottom: 15px;

		background-color: #CCC;

		border-radius: 5px;
		padding: 10px;
	}

	.image-container {
		width: 100%;

		padding-bottom: 75%;
		width: 100%;

		position: relative;
	}

	.image-container a {
		width: 100%;
		height: 100%;

		position: absolute;

		top: 0px;
		left: 0px;
	}

	.image-container a .image-holder {
		width: 100%;
		height: 100%;

		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
	}

	.image-information-container {
		text-align: center;
	}

	.tr-with-bottom-border {
		border-bottom: solid 2px #BBB;
	}

	.page-indicator {
		line-height: 38px;
		text-align: center;
		width: 100%;
	}
</style>