<div class="row">
	<div class="col-sm">
		<h2 id="welcome" class="text-center">
			{{ 'landingPage.pageHeader' | translate }}
		</h2>
	</div>
</div>

<br />
<br />

<div class="row">
	<div class="col-sm">
		<button class="btn btn-primary btn-block" ng-click="updateEmails()">
			{{ 'landingPage.updateEmails' | translate }}
		</button>
	</div>
</div>

<br/>
<br/>

<div class="row">
	<div class="col-sm">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Aika</th>
					<th>Kuvaus</th>
					<th>Kuva</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="image in images">
					<td>
						{{ image.delivery_timestamp * 1000 | formatDateTime }}
					</td>
					<td>
						{{ image.description }}
					</td>
					<td>
						<div class="image-container">
							<a href="{{ image.url }}">
								<div class="image-holder" style="background-image: url('{{ image.url }}')">
							
								</div>
							</a>
						</div>
					</td>		
				</tr>
			</tbody>
		</table>
	</div>
</div>

<style>
	.image-row-container {
		margin-bottom: 10px;
	}

	.image-container {
		width: 100%;

		height: 200px;
		width: 200px;
	}

	.image-container .image-holder {
		width: 100%;
		height: 100%;

		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
	}

	.image-information-container {
		padding-top: 25px;
	}
</style>